body {
  background-color: #fff;
  color: #191919;
  font-family: "Varela Round";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin: 0 !important;

}

#wrapper {
  width: 100%;
}

/* Styl dla top baru */
.top-bar {
  width: 100%;
  max-width: 1170px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color:#F8F8F8;
  color: #878787;
  position: relative;
  z-index: 998;
  font-size: 14px;
  text-align: right; /* Wyrównanie przycisków do prawej strony */
  max-height: 50px;
}

/* Kontener dla przycisków */
.buttons {
  display: inline-block;
  margin-top: 10px;
}

/* Styl dla przycisków */
.button {
  text-decoration: none;
  background-color: transparent; /*kolor przycisków */
  color:#878787;
  transition: color 0.4s ease;

}

#button2 {
  margin-right: 10px;
  padding: 5px 5px 5px 0px;
}

#button2::before {
  content:"\007C";
  color:#878787;
  padding-right: 6px;
  transform: scaleX(0.2); /* Skaluje szerokość znaku */
}

#button1 {
  padding: 5px 2px 5px 5px;
}

/* Efekt hover dla przycisków */
.button:hover {
  color: #dec18c; /* Zmiana koloru po najechaniu */
  transition: color 0.4s ease;
}

#header {
  width: 100%;
}


#logo {
  width: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

#logo img {

  height: 300px; /* Zachowaj proporcje, dopasuj wysokość */
  width: 100%; /* Dopasuj szerokość do kontenera */
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#longNav {
  width: 100%;
  height: 84px;
  border-top: 1px solid rgb(238, 238, 238);
}

.nav {
  width: 100%;
  max-width: 1170px;
  background-color: white;
  height: 82px;
  border-bottom: 2px solid #dec18c;
  margin-left: auto;
  margin-right: auto;
  display: flex; /* Użycie flexboxa */
  justify-content: left; /* Wyśrodkuj poziomo-gdy flex */
  align-items: center; /* Wyśrodkuj pionowo-gdy flex */
  position: relative; /* Potrzebne do pozycjonowania submenu */
  
}

.navLeft {
  width: 100%;
  max-width: 1140px;
}


.navLeft ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex; /* Ustawienie Flexboxa na liście */
  justify-content: flex-start; /* Elementy będą wyrównane do lewej */
}

.navLeft ol a {
  color: black;
  text-decoration: none;
}

.navLeft ol > li { /* stylizujemy element li którego rodzicem jest ol */
  margin-left: 30px;
  height: 82px;
  display: flex;
  align-items: center;

}

.arrow::after {
  content: "\297F"; /* Unicode dla strzałki w dół */
  font-size: 20px;
  padding-left: 7px;
}

.navLeft ol > li:first-child {
  margin-left: 0;
}

.navLeft ol > li:hover {
  background-color: rgb(232, 251, 255);
}

.navLeft ol > li:hover > a {
  color: #dec18c;
}

.navLeft ol > li > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute; /* Zamiast relative */
  top: 82px; /* Dopasuj tę wartość do wysokości głównego elementu menu */
  background-color: white; /* Tło submenu */
  display: none; /* Domyślnie ukryte */
  z-index: 100;
}

.navLeft ol > li:hover > ul { /* czyli jak ma wyglądać lista wewnętrzna ul (potomek ol > li ale tylko kiedy zachodzi hover elementu ol > li)*/
  display: block;
  
}

.navLeft ol > li > ul > li {
 background-color: white; 
 z-index: 100;
 border-top: 2px solid rgb(232, 251, 255); 
 height: 30px;
 width: auto;
 border: solid 2px #ededed;
 padding: 10px;
 display: flex;
 align-items: center;
  transition: all .5s;
  }

.navLeft ol > li > ul > li::before {
  content: "\297D";
  color: #dec18c;
  font-size: 15px;
  padding-right: 7px; 
  padding-left: 5px;
}

.navLeft ol > li > ul > li::after {
  content: "\2914";
  color: black;
  font-size: 15px;
  padding-left: 7px;
  padding-right: 5px;
}

.navLeft ol > li > ul > li:hover::after {
  color: #dec18c; /* Nowy kolor contentu po najechaniu myszką */
}

.navLeft ol > li > ul > li:hover {
  background-color: white; 
  padding-left: 30px;
  transition: all .5s;
}

.navLeft ol > li > ul > li:hover > a {
  color: #dec18c;
}

.navRight {
  width: 100%;
  max-width: 160px;
}

.hamburger {
display: none;
}

#socials {
  width: 100%;
  max-width: 160px;
  height: 50px;
  text-align: center;
  display: flex; /* Ustawienie Flexboxa na liście */
  justify-content: flex-end; /* Elementy będą wyrównane do prawej */
  align-items: center; /* Wyśrodkuj pionowo-gdy flex */
}


#fb {
  width: 100%;
  max-width: 25px;
  height: 25px;
  float: left;
  background-color: #dec18c;
  margin-left: 10px;
}

#fb:hover {
  background-color: black;
}

#vin {
  width: 100%;
  max-width: 25px;
  height: 25px;
  float: left;
  margin-left: 10px;
  background-color: #dec18c;
}

#vin:hover {
  background-color: black;
}

#inst {
  width: 100%;
  max-width: 25px;
  height: 25px;
  float: left;
  margin-left: 10px;
  background-color: #dec18c;
}

#inst:hover {
  background-color: black;
}

#socials img {
  width: 25px;
  height: 25px;
}

#baner {
  width: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 500px;
  
}

#banerL {
  float: left;
  width: 100%;
  max-width: 800px;
  position: relative;
  height: 500px;
  margin: 50px 0px 50px 0px;
}

#banerL:hover {
  cursor: pointer;
}

#banerImg {
 margin: 0px 30px 0px 0px; /*dół, prawo. góra, lewa*/

}

#banerImg img{
  max-height: 500px;
  width: 100%;
  max-width: 800px;
}


#banerText {
  position: absolute; /* Pozwala na umieszczenie tekstu nad zdjęciem */
  border: 1px solid #dec18c; /* Ramka wokół tekstu */
  max-width: 290px;
  max-height: 125px;
  width: 100%;
  padding: 50px 35px;
  background-color: #fff;
  margin: auto;
  box-shadow: 0 0 0 10px #fff; /* Biała ramka o grubości 10px wokół złotej ramki */
  top: 70%; /* Wyśrodkuj pionowo */
  left: 27%; /* Wyśrodkuj poziomo */
  transform: translate(-50%, -50%); /* Przesuń ramkę, aby była wycentrowana na obrazku */  
}

#banerText h2 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  margin-bottom: 15px;
  line-height: 1.2; /* Zmniejsz linię, np. 1.2 lub 1.4 */
  display: block;
  text-align: center;
  margin-top: 0px;
}

#banerText span {
  text-align: center;
  display: block;
  color: #dec18c;
  font-size: 15px;
  line-height: 1.6;
  text-decoration: underline;
}


#banerR {
  width: 100%;
  max-width: 370px;
  max-height: 500px;
  background-color: #dec18c;
  float: left;
  margin: 50px 0px 50px 0px;
}

#banerR ol {
  display: block;
  list-style-type: none;
  padding: 8px;
}

#banerR ol li {
  margin-bottom: 2px;
  padding-top: 4px;
  list-style-type: none;
  margin-top: 8px;
  transition: all .5s;
}

#banerR ol li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  line-height: 2;

}


#banerR ol li::before {
  content: "\25B6"; /* Wypełniona strzałka w prawo */
  color: rgba(0, 0, 0, 0.4);
  font-size: 9px;
  padding-right: 10px;
  margin-left: 10px;
  vertical-align: middle;
  display: inline-block;
  margin-top: -3px;
  text-rendering: auto;
  background-color: transparent; /* Przezroczyste tło */
  border: none; /* Usuń ewentualne obramowania */
}

#banerR ol li:hover {
  background-color:#dec18c;
  padding-left: 25px;
  transition: all .5s;
  }
  
#banerR ol li:hover > a {
  color: #dec18c;
  color: white;
  }

#banerR ol li ul {
  list-style-type: none;
  padding-left: 0px;

}

ul {
  padding-inline-start: 25px;
}

#banerR ol li ul li:hover {
  padding-left: 25px;
}


#content {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  padding-top: 10px;
  margin-top: 65px;
}

#footer {
  text-align: center;
  background-color: #222222;
  padding: 30px;
}

.sticky {
  width: 100%;
  position: fixed; /* stała ustalona pozycja */
  left: 0;
  top: 0;
  z-index: 100; /* która warstwa, ile warstw pokrywa */
}

@media only screen and (max-width: 768px) {
  /* Style dla telefonów */

  body {
    width: 100%;
    font-size: 14px; /* Zmniejsz ogólny rozmiar czcionki */
  }

  .top-bar {
    width: 100%;
    font-size: 12px; /* Mniejszy rozmiar tekstu w top-barze */
    height: 40px; /* Zmniejsz wysokość */
    text-align: center;
    margin-top: 50px;
  }

  #logo {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #logo img {
    max-height: 200px; /* Zmniejsz logo */
    max-width: 200px;
    margin-left: auto;
    margin-left: auto;
  }

  #longNav {
    width: 100%;
    height: 40px;
    border-top: 1px solid #fff
  }

  .nav {
    height: 40px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color:#fff;
    border-bottom: 2px solid #878787;
  }

  .navLeft {
    display: none;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    margin-left: auto;
  }

  .hamburger span {
    background-color: #878787;
    height: 3px;
    width: 100%;
    display: block;
    transition: all 5s ease-in-out;
  }

  .navLeft.active {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

.navLeft ol {
    flex-direction: column;
    width: 100%;
    text-align: left;
}

.navLeft ol li {
    padding: 10px 20px;
}


.navLeft ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex; /* Ustawienie Flexboxa na liście */
  justify-content: flex-start; /* Elementy będą wyrównane do lewej */
}

.navLeft ol a {
  color: black;
  text-decoration: none;
}

.navLeft ol > li { /* stylizujemy element li którego rodzicem jest ol */
  margin-left: 30px;
  height: 82px;
  display: flex;
  align-items: center;

}

.arrow::after {
  content: "\297F"; /* Unicode dla strzałki w dół */
  font-size: 20px;
  padding-left: 7px;
}

.navLeft ol > li:first-child {
  margin-left: 0;
}

.navLeft ol > li:hover {
  background-color: rgb(232, 251, 255);
}

.navLeft ol > li:hover > a {
  color: #dec18c;
}

.navLeft ol > li > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute; /* Zamiast relative */
  top: 82px; /* Dopasuj tę wartość do wysokości głównego elementu menu */
  background-color: white; /* Tło submenu */
  display: none; /* Domyślnie ukryte */
  z-index: 100;
}

.navLeft ol > li:hover > ul { /* czyli jak ma wyglądać lista wewnętrzna ul (potomek ol > li ale tylko kiedy zachodzi hover elementu ol > li)*/
  display: block;
  
}

.navLeft ol > li > ul > li {
 background-color: white; 
 z-index: 100;
 border-top: 2px solid rgb(232, 251, 255); 
 height: 30px;
 width: auto;
 border: solid 2px #ededed;
 padding: 10px;
 display: flex;
 align-items: center;
  transition: all .5s;
  }

.navLeft ol > li > ul > li::before {
  content: "\297D";
  color: #dec18c;
  font-size: 15px;
  padding-right: 7px; 
  padding-left: 5px;
}

.navLeft ol > li > ul > li::after {
  content: "\2914";
  color: black;
  font-size: 15px;
  padding-left: 7px;
  padding-right: 5px;
}

.navLeft ol > li > ul > li:hover::after {
  color: #dec18c; /* Nowy kolor contentu po najechaniu myszką */
}

.navLeft ol > li > ul > li:hover {
  background-color: white; 
  padding-left: 30px;
  transition: all .5s;
}

.navLeft ol > li > ul > li:hover > a {
  color: #dec18c;
}

.navRight {
  width: 100%;
  max-width: 400px;
  margin-left: 30px;
}

#socials {
  width: 100%;
  max-width: 400px;
  height: 50px;
  text-align: center;
  display: flex; /* Ustawienie Flexboxa na liście */
  justify-content: center; /* Elementy będą wyrównane na środku */
  align-items: center; /* Wyśrodkuj pionowo-gdy flex */
}


#fb {
  width: 100%;
  max-width: 25px;
  height: 25px;
  background-color:#222222;
  margin-left: 5px;
  margin-right: 5px;
}

#vin {
  width: 100%;
  max-width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
  background-color:#222222;
}

#inst {
  width: 100%;
  max-width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
  background-color:#222222;
}

#socials img {
  width: 25px;
  height: 25px;
}
  
  #banerL {
    max-width: 100%; /* Ustaw pełną szerokość na mniejszych ekranach */
    margin: 20px 0;
  }

  #banerR {
    max-width: 100%; /* Zajmie pełną szerokość na telefonie */
    margin-top: 20px;
    float: none; /* Usuń float, żeby elementy nie były obok siebie */
  }

  #banerText {
    max-width: 90%; /* Dostosowanie wielkości tekstu na banerze */
    padding: 20px;
  }
  
  /* Dopasowanie marginesów i paddingów */
  #content {
    padding: 5px;
    margin-top: 30px;
  }

  #footer {
    padding: 15px;
  }


}

