*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #191919;
  font-family: "Varela Round";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin: 0 !important;
  padding-top: 50px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;

}

#wrapper {
  width: 100%;
}

/* Styl dla top baru */
.top-bar {
  width: 100%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color:#F8F8F8;
  color: #878787;
  font-size: 14px;
  height: 60px;
}

/* Kontener dla przycisk贸w */
.buttons {
  width: 100%;
  max-width: 1170px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: right;
  align-items: center;
}

/* Styl dla przycisk贸w */
.button {
  text-decoration: none;
  background-color: transparent; /*kolor przycisk贸w */
  color:#878787;
  transition: color 0.4s ease;
}

#button2 {
  margin-right: 10px;
  padding: 5px 5px 5px 0px;
}

#button2::before {
  content:"\007C";
  color:#878787;
  padding-right: 6px;
  transform: scaleX(0.2); /* Skaluje szeroko znaku */
}

#button1 {
  padding: 5px 2px 5px 5px;
}

/* Efekt hover dla przycisk贸w */
.button:hover {
  color: #7aabb4; /* Zmiana koloru po najechaniu */
  transition: color 0.4s ease;
}

#header {
width: 100%;
}


#logo {
  width: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

#logo img {
  height: 300px; /* Zachowaj proporcje, dopasuj wysoko */
  width: 100%; /* Dopasuj szeroko do kontenera */
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#longNav {
  width: 100%;
  height: 84px;
  border-top: 1px solid rgb(238, 238, 238);
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  width: 100%;
  max-width: 1370px;
  background-color: white;
  height: 82px;
  border-bottom: 2px solid #7aabb4;
  display: flex; /* U偶ycie flexboxa */
  justify-content: left; /* Wyrodkuj poziomo-gdy flex */
  align-items: center; /* Wyrodkuj pionowo-gdy flex */
  position: relative; /* Potrzebne do pozycjonowania submenu */
  margin-left: auto;
  margin-right: auto;
}






.navLeft {
  width: 100%;
  max-width: 1155px;
}

.navLeft-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex; /* Ustawienie Flexboxa na licie */
  justify-content: flex-start; /* Elementy bd wyr贸wnane do lewej */
}

.navLeft-list a {
  color: black;
  text-decoration: none;
}

.navLeft-item { /* stylizujemy element li kt贸rego rodzicem jest ol */
  margin-left: 30px;
  height: 82px;
  display: flex;
  align-items: center;
}

.arrow::after {
  content: ""; /* Unicode dla strzaki w d贸 */
  font-size: 20px;
  padding-left: 4px;
}

.navLeft-item:first-child {
  margin-left: 0;
}

.navLeft-item:hover > a {
  color: #7aabb4;
}

.menu{
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute; /* Zamiast relative */
  top: 82px; /* Dopasuj t warto do wysokoci g贸wnego elementu menu */
  background-color: white; /* To submenu */
  display: none; /* Domylnie ukryte */
  z-index: 100;
  border: solid 2px #ededed;
}

.submenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute; /* Pozycjonowanie wzgldem rodzica .menu-item */
  top: 0; /* Dopasowuje g贸rn krawd藕 submenu do g贸ry menu-item */
  left: 100%; /* Ustawia submenu po prawej stronie rodzica */
  background-color: white; /* To submenu */
  display: none; /* Domylnie ukryte */
  z-index: 100;
  border: solid 2px #ededed;
}

.navLeft-item:hover > .menu,
.menu-item:hover > .submenu { /* czyli jak ma wyglda lista wewntrzna ul (potomek ol > li ale tylko kiedy zachodzi hover elementu ol > li)*/
  display: block;
}

.menu-item{
  background-color: white; 
  z-index: 100;
  border-top: 2px solid rgb(232, 251, 255); 
  height: 30px;
  width: auto;
  padding: 25px 15px;
  display: flex;
  align-items: center;
  transition: all .5s;
  padding-right: 100px;
  position: relative;
}

.submenu-item {
  background-color: white; 
  z-index: 100;
  border-top: 2px solid rgb(232, 251, 255); 
  height: 30px;
  width: auto;
  padding: 25px 15px;
  display: flex;
  align-items: center;
  transition: all .5s;
  padding-right: 100px;
  position: relative;
}

.menu-item a,
.submenu-item {
  color: #333333;
  font-size: 14px;
  letter-spacing: 0.05em;
}

.menu-item::before,
.submenu-item::before {
  content: "\297D";
  color: #7aabb4;
  font-size: 15px;
  padding-right: 7px; 
  padding-left: 5px;
}

.menu-item::after{
  content: "\2914";
  color: black;
  font-size: 15px;
  padding-right: 20px;
  position: absolute;
  right: 0; /* Przesuwa pseudo-element do prawej krawdzi kontenera */
  width: auto; /* lub konkretna warto */
  height: auto; /* upewnij si, 偶e wysoko nie ogranicza widocznoci */
}

.menu-item:hover::after,
.submenu-item:hover::after {
  color: #7aabb4; /* Nowy kolor contentu po najechaniu myszk */
}

.menu-item:hover,
.submenu-item:hover {
  background-color: white; 
  padding-left: 30px;
  transition: all .5s;
}

.menu-item:hover > a,
.submenu-item:hover > a {
  color: #7aabb4;
}







.navRight {
  width: 100%;
  max-width: 160px;
  height: 82;
}

.hamburger {
display: none;
}

#socials {
  width: 100%;
  max-width: 160px;
  height: 50px;
  text-align: center;
  display: flex; /* Ustawienie Flexboxa na licie */
  justify-content: flex-end; /* Elementy bd wyr贸wnane do prawej */
  align-items: center; /* Wyrodkuj pionowo-gdy flex */
}


#fb {
  width: 100%;
  max-width: 25px;
  height: 25px;
  float: left;
  background-color: #7aabb4;
  margin-left: 10px;
}

#fb:hover {
  background-color: black;
}

#vin {
  width: 100%;
  max-width: 25px;
  height: 25px;
  float: left;
  margin-left: 10px;
  background-color: #7aabb4;
}

#vin:hover {
  background-color: black;
}

#inst {
  width: 100%;
  max-width: 25px;
  height: 25px;
  float: left;
  margin-left: 10px;
  background-color: #7aabb4;
}

#inst:hover {
  background-color: black;
}

#socials img {
  width: 25px;
  height: 25px;
}

#baner {
  width: 100%;
  position: relative;
  height: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 0px;
  margin-right: 0px;
  overflow: hidden; /* Zapobiega wyjciu fal poza baner */
}

#baner:hover {
  cursor: pointer;
}

#banerImg img{
  width: 100%;
  height: 500px;
  /* object-fit: cover; Zapewnia dobre dopasowanie obrazu */
  display: block;
}

.wave-bottom {
  position: absolute;
  bottom: -90px; /* Umieszcza fale na g贸rze */
  left: 0;
  width: 100%;
  z-index: 1;
}

.wave-bottom img {
  width: 100%; /* Rozciga SVG na ca szeroko */
  height: 200px;
  display: block;
}

.wave-top {
  position: absolute;
  top: -40px; /* Umieszcza fale na g贸rze */
  left: 0;
  width: 100%;
  z-index: 1;
  transform: rotate(180deg); /* Odwraca fal */
  /* overflow: hidden; */
}

.wave-top img {
  width: 100%; /* Rozciga SVG na ca szeroko */
  height: 100px;
  display: block;
}

.sticky {
  width: 100%;
  max-width: 2000px;
  position: fixed; /* staa ustalona pozycja */
  left: 0;
  top: 0;
  z-index: 100; /* kt贸ra warstwa, ile warstw pokrywa */
  padding-left: 40px;
  margin-right: 40px;
}

#ADV {
  display: flex; /* Wczenie Flexboxa */
  justify-content: space-between; /* R贸wny odstp midzy elementami */
  margin:auto;
  margin-top: 20px;
  margin-bottom: 80px;
  position: relative;
  width: 100%;
  max-width: 1250px;
  height: 200px;
}

.adv {
  flex: 1; /* Wszystkie elementy `adv` bd miay tak sam szeroko */
  margin: 10px 10px; /* Dodanie margines贸w midzy elementami */
  text-align: center; /* Wyrodkowanie zawartoci tekstowej */
}

.advFoto img {
  width: 100%;
  height: 100px;
  max-width: 100px;
  filter: brightness(0) saturate(100%) invert(59%) sepia(56%) saturate(474%) hue-rotate(50deg) brightness(90%) contrast(88%);
}

.advText {
  margin-top: 40px;
}

.advText h2{
  font-family: "Varela Round";
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #777777;
  line-height: 1.8;
}

#CON {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

.gold {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-top: 30px;
  height: 100px;
  border-top: 1px solid #7aabb4;
  border-bottom: 1px solid #7aabb4;
  margin-bottom: 40px;

}

.goldText {
  font-size: 33px;
  font-family: "Cormorant Garamond";
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
  padding-top: 35px;
}

.window {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: flex; /* Wczenie Flexboxa */
  flex-wrap: wrap; /* Pozwala elementom zawija si w kolejne wiersze */
  margin-bottom: 30px;
}

.windowSmall {
  width: 100%;
  max-width: 250px;
  height: 390px;
  margin: 0px 25px 30px 15px;
  border: 1px solid #eeeeee;
}

.windowSmall:nth-child(4n) {
  margin-right: 0; /* Usuwa margines z prawej strony czwartego elementu w rzdzie */
}

.windowSmall:nth-child(1n) {
  margin-left: 0; /* Usuwa margines z prawej strony czwartego elementu w rzdzie */
}

.windowFoto {
  width: 100%;
  max-width: 268px;
  height: 268px;
}

.windowFoto img {
  width: 100%;
  max-width: 275px;
  height: 268px;
}

.windowText {
  width: 100%;
  max-width: 275px;
  height: 126px;
  padding: 15px 35px 15px 35px;

}

.windowText h3 {
  width: 100%;
  max-width: 208px;

  margin-bottom: 10px;
  font-size: 15px;
  line-height: 1.3;
  color: #555555;
  text-align: center;
  font-family: "Varela Round";
  font-weight: 400;
  font-style: normal;

}

.windowText h3:hover {
  color: #7aabb4;
}

.windowText a {
text-decoration: none;
}

.windowText span {
  width: 100%;
  max-width: 208px;

  text-align: center;
  font-size: 15px;
  font-family: "Varela Round";
  font-weight: 500;
  font-style: normal;
  color: #7aabb4;
  line-height: 1;
  display: block;


}


#footer {
  text-align: center;
  background-color: #222222;
  padding: 30px;
}


