*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #191919;
  font-family: "Varela Round";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin: 0 !important;
  padding-top: 50px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;

}

#wrapper {
  width: 100%;
}

/* Styl dla top baru */
.top-bar {
  width: 100%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color:#F8F8F8;
  color: #878787;
  font-size: 14px;
  height: 60px;
}

/* Kontener dla przycisk贸w */
.buttons {
  width: 100%;
  max-width: 1170px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: right;
  align-items: center;
}

/* Styl dla przycisk贸w */
.button {
  text-decoration: none;
  background-color: transparent; /*kolor przycisk贸w */
  color:#878787;
  transition: color 0.4s ease;
}

#button2 {
  margin-right: 10px;
  padding: 5px 5px 5px 0px;
}

#button2::before {
  content:"\007C";
  color:#878787;
  padding-right: 6px;
  transform: scaleX(0.2); /* Skaluje szeroko znaku */
}

#button1 {
  padding: 5px 2px 5px 5px;
}

/* Efekt hover dla przycisk贸w */
.button:hover {
  color: #7aabb4; /* Zmiana koloru po najechaniu */
  transition: color 0.4s ease;
}

#header {
width: 100%;
}


#logo {
  width: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

#logo img {
  height: 300px; /* Zachowaj proporcje, dopasuj wysoko */
  width: 100%; /* Dopasuj szeroko do kontenera */
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#longNav {
  width: 100%;
  height: 84px;
  border-top: 1px solid rgb(238, 238, 238);
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  width: 100%;
  max-width: 1370px;
  background-color: white;
  height: 82px;
  border-bottom: 2px solid #7aabb4;
  display: flex; /* U偶ycie flexboxa */
  justify-content: left; /* Wyrodkuj poziomo-gdy flex */
  align-items: center; /* Wyrodkuj pionowo-gdy flex */
  position: relative; /* Potrzebne do pozycjonowania submenu */
  margin-left: auto;
  margin-right: auto;
  
}

.navLeft {
  width: 100%;
  max-width: 1155px;

}


.navLeft ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex; /* Ustawienie Flexboxa na licie */
  justify-content: flex-start; /* Elementy bd wyr贸wnane do lewej */
}

.navLeft ol a {
  color: black;
  text-decoration: none;
}

.navLeft ol > li { /* stylizujemy element li kt贸rego rodzicem jest ol */
  margin-left: 30px;
  height: 82px;
  display: flex;
  align-items: center;

}

.arrow::after {
  content: ""; /* Unicode dla strzaki w d贸 */
  font-size: 20px;
  padding-left: 7px;
}

.navLeft ol > li:first-child {
  margin-left: 0;
}

.navLeft ol > li:hover {

}

.navLeft ol > li:hover > a {
  color: #dec18c;
}

.navLeft ol > li > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute; /* Zamiast relative */
  top: 82px; /* Dopasuj t warto do wysokoci g贸wnego elementu menu */
  background-color: white; /* To submenu */
  display: none; /* Domylnie ukryte */
  z-index: 100;
  border: solid 2px #ededed;
}

.navLeft ol > li:hover > ul { /* czyli jak ma wyglda lista wewntrzna ul (potomek ol > li ale tylko kiedy zachodzi hover elementu ol > li)*/
  display: block;
  
}

.navLeft ol > li > ul > li {
 background-color: white; 
 z-index: 100;
 border-top: 2px solid rgb(232, 251, 255); 
 height: 30px;
 width: auto;
 padding: 25px 15px;
 display: flex;
 align-items: center;
 transition: all .5s;
 padding-right: 100px;
 position: relative;
}

.navLeft ol > li > ul > li a {
  color: #333333;
  font-size: 14px;
  letter-spacing: 0.05em;

}


.navLeft ol > li > ul > li::before {
  content: "\297D";
  color: #7aabb4;
  font-size: 15px;
  padding-right: 7px; 
  padding-left: 5px;
}

.navLeft ol > li > ul > li::after {
  content: "\2914";
  color: black;
  font-size: 15px;
  padding-right: 20px;
  position: absolute;
  right: 0; /* Przesuwa pseudo-element do prawej krawdzi kontenera */
  width: auto; /* lub konkretna warto */
  height: auto; /* upewnij si, 偶e wysoko nie ogranicza widocznoci */


}

.navLeft ol > li > ul > li:hover::after {
  color: #7aabb4; /* Nowy kolor contentu po najechaniu myszk */
}

.navLeft ol > li > ul > li:hover {
  background-color: white; 
  padding-left: 30px;
  transition: all .5s;
}

.navLeft ol > li > ul > li:hover > a {
  color: #7aabb4;
}

.navRight {
  width: 100%;
  max-width: 160px;
  height: 82;
}

.hamburger {
display: none;
}

#socials {
  width: 100%;
  max-width: 160px;
  height: 50px;
  text-align: center;
  display: flex; /* Ustawienie Flexboxa na licie */
  justify-content: flex-end; /* Elementy bd wyr贸wnane do prawej */
  align-items: center; /* Wyrodkuj pionowo-gdy flex */
}


#fb {
  width: 100%;
  max-width: 25px;
  height: 25px;
  float: left;
  background-color: #dec18c;
  margin-left: 10px;
}

#fb:hover {
  background-color: black;
}

#vin {
  width: 100%;
  max-width: 25px;
  height: 25px;
  float: left;
  margin-left: 10px;
  background-color: #7aabb4;
}

#vin:hover {
  background-color: black;
}

#inst {
  width: 100%;
  max-width: 25px;
  height: 25px;
  float: left;
  margin-left: 10px;
  background-color: #7aabb4;
}

#inst:hover {
  background-color: black;
}

#socials img {
  width: 25px;
  height: 25px;
}

#baner {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  padding-left: 15px;
  padding-right: 15px;
  
}

#banerL {
  float: left;
  width: 100%;
  max-width: 750px;
  position: relative;
  height: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

#banerL:hover {
  cursor: pointer;
}

#banerImg {
 margin: 0px 30px 0px 0px; /*d贸, prawo. g贸ra, lewa*/

}

#banerImg img{
  max-height: 500px;
  width: 100%;
  max-width: 770px;
}


#banerText {
  position: absolute; /* Pozwala na umieszczenie tekstu nad zdjciem */
  border: 1px solid #7aabb4; /* Ramka wok贸 tekstu */
  max-width: 290px;
  max-height: 185px;
  width: 100%;
  padding: 35px 35px;
  background-color: #fff;
  margin: auto;
  box-shadow: 0 0 0 10px #fff; /* Biaa ramka o gruboci 10px wok贸 zotej ramki */
  top: 71%; /* Wyrodkuj pionowo */
  left: 27%; /* Wyrodkuj poziomo */
  transform: translate(-50%, -50%); /* Przesu ramk, aby bya wycentrowana na obrazku */  
}

#banerText h2 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  margin-bottom: 15px;
  line-height: 1.2; /* Zmniejsz lini, np. 1.2 lub 1.4 */
  display: block;
  text-align: center;
  margin-top: 0px;
}

#banerText span {
  text-align: center;
  display: block;
  color: #7aabb4;
  font-size: 15px;
  line-height: 1.6;
  text-decoration: underline;
}


#banerR {
  width: 100%;
  max-width: 350px;
  height: 500px;
  background-color: #7aabb4;
  float: left;
  margin: 50px 0px 50px 0px;
}

#banerR ol {
  display: block;
  list-style-type: none;
  padding: 8px;
}

#banerR ol li {
  margin-bottom: 2px;
  padding-top: 4px;
  list-style-type: none;
  margin-top: 8px;
  transition: all .5s;
}

#banerR ol li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  line-height: 2;

}


#banerR ol li::before {
  content: ""; /* Wypeniona strzaka w prawo */
  color: rgba(0, 0, 0, 0.4);
  font-size: 9px;
  padding-right: 10px;
  margin-left: 10px;
  vertical-align: middle;
  display: inline-block;
  margin-top: -3px;
  text-rendering: auto;
  background-color: transparent; /* Przezroczyste to */
  border: none; /* Usu ewentualne obramowania */
}

#banerR ol li:hover {
  background-color:#7aabb4;
  padding-left: 25px;
  transition: all .5s;
  }
  
#banerR ol li:hover > a {
  color: #7aabb4;
  color: white;
  }

#banerR ol li ul {
  list-style-type: none;
  padding-left: 0px;

}

ul {
  padding-inline-start: 25px;
}

#banerR ol li ul li:hover {
  padding-left: 25px;
}


.sticky {
  width: 100%;
  max-width: 2000px;
  position: fixed; /* staa ustalona pozycja */
  left: 0;
  top: 0;
  z-index: 100; /* kt贸ra warstwa, ile warstw pokrywa */
  padding-left: 40px;
  margin-right: 40px;
}

#ADV {
  display: flex; /* Wczenie Flexboxa */
  justify-content: space-between; /* R贸wny odstp midzy elementami */
  margin:auto;
  margin-top: 20px;
  margin-bottom: 80px;
  position: relative;
  width: 100%;
  max-width: 1250px;
  height: 200px;
}

.adv {
  flex: 1; /* Wszystkie elementy `adv` bd miay tak sam szeroko */
  margin: 10px 10px; /* Dodanie margines贸w midzy elementami */
  text-align: center; /* Wyrodkowanie zawartoci tekstowej */
}

.advFoto img {
  width: 100%;
  height: 100px;
  max-width: 100px;
  filter: brightness(0) saturate(100%) invert(59%) sepia(56%) saturate(474%) hue-rotate(50deg) brightness(90%) contrast(88%);
}

.advText {
  margin-top: 40px;
}

.advText h2{
  font-family: "Varela Round";
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #777777;
  line-height: 1.8;
}

#CON {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

.gold {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-top: 30px;
  height: 100px;
  border-top: 1px solid #7aabb4;
  border-bottom: 1px solid #7aabb4;
  margin-bottom: 40px;

}

.goldText {
  font-size: 33px;
  font-family: "Cormorant Garamond";
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
  padding-top: 35px;
}

.window {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: flex; /* Wczenie Flexboxa */
  flex-wrap: wrap; /* Pozwala elementom zawija si w kolejne wiersze */
  margin-bottom: 30px;
}

.windowSmall {
  width: 100%;
  max-width: 250px;
  height: 390px;
  margin: 0px 25px 30px 15px;
  border: 1px solid #eeeeee;
}

.windowSmall:nth-child(4n) {
  margin-right: 0; /* Usuwa margines z prawej strony czwartego elementu w rzdzie */
}

.windowSmall:nth-child(1n) {
  margin-left: 0; /* Usuwa margines z prawej strony czwartego elementu w rzdzie */
}

.windowFoto {
  width: 100%;
  max-width: 268px;
  height: 268px;
}

.windowFoto img {
  width: 100%;
  max-width: 275px;
  height: 268px;
}

.windowText {
  width: 100%;
  max-width: 275px;
  height: 126px;
  padding: 15px 35px 15px 35px;

}

.windowText h3 {
  width: 100%;
  max-width: 208px;

  margin-bottom: 10px;
  font-size: 15px;
  line-height: 1.3;
  color: #555555;
  text-align: center;
  font-family: "Varela Round";
  font-weight: 400;
  font-style: normal;

}

.windowText h3:hover {
  color: #7aabb4;
}

.windowText a {
text-decoration: none;
}

.windowText span {
  width: 100%;
  max-width: 208px;

  text-align: center;
  font-size: 15px;
  font-family: "Varela Round";
  font-weight: 500;
  font-style: normal;
  color: #7aabb4;
  line-height: 1;
  display: block;


}


#footer {
  text-align: center;
  background-color: #222222;
  padding: 30px;
}


