

@media only screen and (max-width: 945px) {
  /* Style dla mae ekrany (poowa ekranu) */



/* @media only screen and (max-width: 768px) {
  Style dla telefon贸w */


  #logo img {
    max-height: 250px; 
    max-width: 250px;
  }


  .container {
    background-color: #333333;
    margin-left: 0px;
    margin-right: 0px;
  }

  .nav {
    height: 50px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #333333;
    border-bottom: 2px solid #333333;
    width: 910px;
  }

  .navLeft {
    display: none;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    margin-left: 50px;
    color: #ededed
  }

  .hamburger span {
    background-color: #878787;
    height: 3px;
    width: 100%;
    display: block;
  }

  .navLeft.active {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000; 
}

.navLeft-list {
    flex-direction: column;
    width: 100%;
    text-align: left;
}

.menu-open #baner {
  margin-top: 240px; /* Przesunicie o 200px */
  transition: margin-top 0.3s ease; /* Pynna animacja */
}










.navLeft-list a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  color: #6e6e6e;
}

.navLeft-item { /* stylizujemy element li kt贸rego rodzicem jest ol */
  padding-left: 30px;
  margin-left: 0px;
  height: 50px;
  border-top: solid 1px #dadada;
}

.arrow::after {
  content: ""; /* Unicode dla strzaki w d贸 */
  font-size: 20px;
  padding-left: 4px;
}

.navLeft-item:first-child {
  display: none;
}

.navLeft-item:hover > a {
  color: #7aabb4;
}

.menu{
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute; /* Zamiast relative */
  top: 82px; /* Dopasuj t warto do wysokoci g贸wnego elementu menu */
  background-color: white; /* To submenu */
  display: none; /* Domylnie ukryte */
  z-index: 100;
  border: solid 2px #ededed;
}

.submenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute; 
  top: 0; 
  left: 100%; 
  background-color: white; 
  display: none; 
  z-index: 100;
  border: solid 2px #ededed;
}

.navLeft-item:hover > .menu,
.menu-item:hover > .submenu { /* czyli jak ma wyglda lista wewntrzna ul (potomek ol > li ale tylko kiedy zachodzi hover elementu ol > li)*/
  display: block;
}

.menu-item{
  background-color: white; 
  z-index: 100;
  border-top: 2px solid rgb(232, 251, 255); 
  height: 30px;
  width: auto;
  padding: 25px 15px;
  display: flex;
  align-items: center;
  transition: all .5s;
  padding-right: 100px;
  position: relative;
}

.submenu-item {
  background-color: white; 
  z-index: 100;
  border-top: 2px solid rgb(232, 251, 255); 
  height: 30px;
  width: auto;
  padding: 25px 15px;
  display: flex;
  align-items: center;
  transition: all .5s;
  padding-right: 100px;
  position: relative;
}

.menu-item a,
.submenu-item {
  color: #333333;
  font-size: 14px;
  letter-spacing: 0.05em;
}

.menu-item::before,
.submenu-item::before {
  content: "\297D";
  color: #7aabb4;
  font-size: 15px;
  padding-right: 7px; 
  padding-left: 5px;
}

.menu-item::after{
  content: "\2914";
  color: black;
  font-size: 15px;
  padding-right: 20px;
  position: absolute;
  right: 0; /* Przesuwa pseudo-element do prawej krawdzi kontenera */
  width: auto; /* lub konkretna warto */
  height: auto; /* upewnij si, 偶e wysoko nie ogranicza widocznoci */
}

.menu-item:hover::after,
.submenu-item:hover::after {
  color: #7aabb4; /* Nowy kolor contentu po najechaniu myszk */
}

.menu-item:hover,
.submenu-item:hover {
  background-color: white; 
  padding-left: 30px;
  transition: all .5s;
}

.menu-item:hover > a,
.submenu-item:hover > a {
  color: #7aabb4;
}















.navRight {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 100px;
  justify-content: flex-end; /* Elementy bd wyr贸wnane do prawej */
}

#socials {
  width: 100%;
  width: 100px;
  height: 50px;
  text-align: center;
  display: flex; /* Ustawienie Flexboxa na licie */
  justify-content: center; /* Elementy bd wyr贸wnane na rodku */
  align-items: center; /* Wyrodkuj pionowo-gdy flex */

}

#fb {
  width: 100%;
  max-width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ededed;
}

#vin {
  width: 100%;
  max-width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
  background-color:#ededed;
}

#inst {
  width: 100%;
  max-width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
  background-color:#ededed;

}

#socials img {
  width: 25px;
  height: 25px;
  filter: brightness(0) saturate(100%) invert(16%) sepia(3%) saturate(193%) hue-rotate(314deg) brightness(95%) contrast(86%);
}

.sticky {
display: none;
}

#ADV {
padding: 0px 20px 0px 20px;
max-width: 740px;
}

#CON {
  max-width: 940px;
  padding-left: 20px;
  
}

.gold {
  max-width: 915px;
  padding: 0px 20px;
}

.window {
  max-width: 915px;

}

.windowSmall {
  max-width: 210px;
  height: 330px;
  margin: 0px 25px 30px 15px;
}

.windowFoto {
  max-width: 220px;
  height: 220px;
}

.windowFoto img {
  max-width: 220px;
  height: 220px;
}

  #footer {
    padding: 15px;
  }

}


