
@media only screen and (max-width: 1200px) {
  /* Style dla średnie ekrany */
  
  .container {
    max-width: 1100px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .nav {
    max-width: 1100px;
  }
  
  .navLeft {
  max-width: 850px;
  }
  
  .navLeft-list {
    justify-content: space-evenly;
    font-size: 15px;
  }
  
  .navLeft-item {
    padding: 0px;
    margin: 0px;
    max-width: auto;
  }
  
  .arrow::after {
    font-size: 15px;
    padding-left: 4px;
  }
  
  .navLeft-item:first-child {
    margin-top: 1px;
  }

  .navRight {
  max-width: 150px;
  padding-left: 100px;
  justify-content: flex-end;
  }

  #ADV {
    max-width: 935px;

  }

  .adv {
    margin: 5px 5px; /* Dodanie marginesów między elementami */
  }

  .gold {
    max-width: 915px;
  }

  .window {
    max-width: 915px;
  }
  
  .windowSmall {
    max-width: 210px;
    height: 330px;
  }

  .windowFoto {
    max-width: 220px;
    height: 220px;
  }
  
  .windowFoto img {
    max-width: 220px;
    height: 220px;
  }

}